doctype html
html
  head
    title= title
    link(rel='stylesheet', href="//releases.flowplayer.org/6.0.4/skin/minimalist.css")
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//releases.flowplayer.org/6.0.4/flowplayer.min.js")
  
  body
    div.flowplayer
      video
        source(src="http://192.168.1.111:3000/play/23cdd231-70d9-4be0-9cc1-a8a875d42c23")
